products: [
   {name: 'zebra', price: 13.00, inventory_count: 23},
   {name: 'lion', price: 20.00, inventory_count: 12},
   {name: 'elephant', price: 35.00, inventory_count: 3},
   {name: 'giraffe', price: 17.00, inventory_count: 15}
],
taxes: [
   {state: 'al', value: 0.04},
   {state: 'ak', value: 0.00},
   {state: 'az', value: 0.06},
   {state: 'ar', value: 0.07},
   {state: 'ca', value: 0.07},
   {state: 'co', value: 0.03},
   {state: 'ct', value: 0.06},
   {state: 'de', value: 0.00},
   {state: 'fl', value: 0.06},
   {state: 'ga', value: 0.04},
   {state: 'hi', value: 0.04},
   {state: 'id', value: 0.06},
   {state: 'il', value: 0.06},
   {state: 'in', value: 0.07},
   {state: 'ia', value: 0.06},
   {state: 'ks', value: 0.07},
   {state: 'ky', value: 0.06},
   {state: 'la', value: 0.05},
   {state: 'me', value: 0.06},
   {state: 'md', value: 0.06},
   {state: 'ma', value: 0.06},
   {state: 'mi', value: 0.06},
   {state: 'mn', value: 0.07},
   {state: 'ms', value: 0.07},
   {state: 'mo', value: 0.04},
   {state: 'mt', value: 0.00},
   {state: 'ne', value: 0.06},
   {state: 'nv', value: 0.07},
   {state: 'nh', value: 0.00},
   {state: 'nj', value: 0.07},
   {state: 'nm', value: 0.05},
   {state: 'ny', value: 0.04},
   {state: 'nc', value: 0.05},
   {state: 'nd', value: 0.05},
   {state: 'oh', value: 0.06},
   {state: 'ok', value: 0.05},
   {state: 'or', value: 0.00},
   {state: 'pa', value: 0.06},
   {state: 'ri', value: 0.07},
   {state: 'sc', value: 0.06},
   {state: 'sd', value: 0.05},
   {state: 'tn', value: 0.07},
   {state: 'tx', value: 0.06},
   {state: 'ut', value: 0.05},
   {state: 'vt', value: 0.06},
   {state: 'va', value: 0.04},
   {state: 'wa', value: 0.07},
   {state: 'wv', value: 0.06},
   {state: 'wi', value: 0.05},
   {state: 'wy', value: 0.04} 
